version: '3.9'
services:
  chat_buddy:
    container_name: chat_buddy
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    env_file:
      - .env
